@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background: #040d12;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-end-rgb: rgb(225, 0, 255);
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background);
}

.animated-shadow {
    animation: AnimatedShadow 5s ease infinite;
}

@keyframes AnimatedShadow {
    0% {
        box-shadow: #cc00ff3a 0px 4px 16px, #cc00ff3a 0px 8px 32px;
    }
    25% {
        box-shadow: #cc00ff3a 0px 1px 0px, #cc00ff3a 0px 8px 24px, #cc00ff3a 0px 16px 48px;
    }
    50% {
        box-shadow: #cc00ff3a 0px 8px 24px, #cc00ff3a 0px 16px 56px, #cc00ff3a 0px 24px 80px;
    }
    75% {
        box-shadow: #cc00ff3a 0px 1px 0px, #cc00ff3a 0px 8px 24px, #cc00ff3a 0px 16px 48px;
    }
    100% {
        box-shadow: #cc00ff3a 0px 4px 16px, #cc00ff3a 0px 8px 32px;
    }
}

.animated-gradient-bg {
    background: linear-gradient(334deg, #cc00ff, rgb(165, 10, 126), #9635c3);
    background-size: 600% 600%;

    -webkit-animation: AnimatedGradient 12s ease infinite;
    -moz-animation: AnimatedGradient 12s ease infinite;
    animation: AnimatedGradient 12s ease infinite;
}

@-webkit-keyframes AnimatedGradient {
    0% {
        background-position: 18% 0%;
    }
    50% {
        background-position: 83% 100%;
    }
    100% {
        background-position: 18% 0%;
    }
}
@-moz-keyframes AnimatedGradient {
    0% {
        background-position: 18% 0%;
    }
    50% {
        background-position: 83% 100%;
    }
    100% {
        background-position: 18% 0%;
    }
}
@keyframes AnimatedGradient {
    0% {
        background-position: 18% 0%;
    }
    50% {
        background-position: 83% 100%;
    }
    100% {
        background-position: 18% 0%;
    }
}

/* Set Editor.js styles */

.ce-inline-toolbar__toggler-and-button-wrapper,
.ce-conversion-tool,
.cdx-search-field__input {
    color: black;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
    color: white;
}

.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover {
    color: black;
}

.ce-block--selected .ce-block__content {
    background: rgba(0, 0, 0, 0.089);
}

.ce-block__content {
    max-width: none;
    width: 100%;
}

.ce-toolbar__content {
    max-width: none;
    margin: auto;
    position: relative;
}

.ce-toolbar__actions {
    right: auto;
    left: -70px;
}
